<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Scoreboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header><h2>Connect 4 Scoreboard</h2></header>
  <section id="scoreboard-section">
    <div id="insertion-modal">
      <h2>Input player name</h2>
      <input id="add-player-input" type="text" v-model="newPlayerInput" @keyup.enter="addPlayer" />
      <button id="add-player-button" @click="addPlayer">Add player</button>
      <p v-if="playerList.length === 0">No players currently in lobby!</p>
      <p id="player-paragraph" v-else v-for="player in playerList"><a id="player-name">Name: {{ player.Name }}</a> <a
          id="current-score">Current score: {{ player.Score
          }}</a><button id="score-increment" @click="player.Score++; endGame(player)"
          :disabled="isDisabled">+</button></p>
      <div id="control-button-container">
        <button id="start-button" @click="startGame" :disabled="!isDisabled">Start Game!</button>
        <button id="reset-button" @click="resetLobby">Reset lobby!</button>
      </div>
    </div>
  </section>
</body>

</html>