<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Scoreboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>Connect 4 Scoreboard</header>
  <section id="scoreboard-section">
    <h2>Insert Player Name</h2>
    <input type="text" v-model="newPlayerInput" @keyup.enter="addPlayer"/>
    <button @click="addPlayer" >Add player</button>
    <p v-if="playerList.length === 0">No players currently in lobby!</p>
    <ul v-else>
      <li v-for="player in playerList">{{ player.Name }} <button @click="player.Score++; endGame(player)">+</button><a>{{ player.Score }}</a></li>
    </ul>
    <button @click="resetLobby">Reset lobby!</button>
  </section>
</body>

</html>