* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Jost', sans-serif;
  }
  
  body {
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
  }

  header {
    margin: 1vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    background-color: #1b995e;
    color: white;
    text-align: center;
  }