* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Jost', sans-serif;
    background-color: white;
  }

  
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
  }

  header {
    margin: 1vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    background-color: #1b995e;
    color: white;
    text-align: center;
  }

  #add-player-input {
    width: 69%;
    margin-bottom: 1vh;
  }

  #insertion-modal {
    margin: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 2vh;
    border-radius: 10px;
    background-color: #1b995e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  #player-paragraph {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  #player-paragraph {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    margin: 1vh auto 1vh auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  #score-increment {
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    text-align: center;
    margin-right: 2vw;
    border-radius: 10px;
  }

  #player-name {
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    text-align: left;
    padding-left: 2vw;
  }

  #current-score {
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    text-align: center;
  }

